@model IEnumerable<ShoppingDomain.Models.ApplicationUser>

@{
    ViewData["Title"] = "Користувач";
}

<h1>Користувачі</h1>
@if (TempData["DeleteError"] != null)
{
    <div class="alert alert-danger">
        @TempData["DeleteError"]
    </div>
}
<p>
    <a class="btn btn-primary" asp-action="Create">Додати нового</a>
    <a asp-action="ExportToExcel" class="btn btn-success">Експорт в Excel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhoneOrEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameSurname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneOrEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameSurname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
